<div class="container">
  <div class="row">
      <div class="col-sm-12 header-text">
        Digital Marketing FAQs
      </div>
    <div class="col-sm-12" style="margin:1%;">
      <accordion [isAnimated]="true">
        <accordion-group heading="What is social media?" class="acc-group">
          Social media platforms allow users to connect and engage with one
          another through shared content. These websites were originally
          developed for social networking, but since then, social media has
          become a popular marketing approach. Businesses often use social media
          to showcase products and services, connect with current or potential
          customers, and boost brand awareness.
        </accordion-group>
        <accordion-group
          heading="What social media platforms are best for my business?" class="acc-group"
        >
          While social media presence is crucial for all companies, each company
          will have different social media needs and strategies. For some,
          Facebook will be the best platform for business, while Instagram may
          be better for others. To determine which platform is best for your
          business, it is important to first determine your target audience and
          social media goals.
        </accordion-group>
        <accordion-group heading="What makes for a good web design?" class="acc-group">
          Websites should be designed to invite and entertain users, not push
          them away. The only way to attract and maintain users is with a good
          web design. The homepage should be visually appealing, easy to
          understand, and clear of any annoying pop-ups. If the homepage is bad,
          the user will exit the website rather than continue exploring. The web
          design should also allow for easy navigation and fast load speed
          without blurry images or extensive copy.
        </accordion-group>
        <accordion-group heading="How does a website increase sales?" class="acc-group">
          The primary way a website increases sales is by offering users a
          convenient way to shop for products and services. Through the use of
          pop-ups offers and special online discounts, small businesses can
          encourage consumers to make the switch from window-shopping to buying.
          With an enhanced incentive to buy, along with clear and concise
          product descriptions, users are quickly turning to company websites
          for all their consumer needs.
        </accordion-group>
        <accordion-group heading="What is UI?" class="acc-group">
          UI stands for user interface. This refers to anything that the user
          sees and interacts with on a digital platform.
        </accordion-group>
        <accordion-group heading="What is UX?" class="acc-group">
          UX stands for user experience. It refers to how a user feels while
          interacting with the interface. You always want the user to enjoy the
          experience on your site.
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
