.imagefotter{
    width:5rem;
    height:5rem;
}


.page-footer{
    background: #212529;
    color:#fff;
}
.f-line{
    text-align: center;
}

.footer-style #Group-72{
    fill: #fff;
}

@media screen and (max-width: 480px) {

     .footer-banner{
        display: none;
    } 
}