<!--Footer-->
<footer class="page-footer center-on-small-only footer-style">
    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <div class="col-md-3 t-b-line" style="margin-top: 1rem;">
                <figure style="text-align: center;">
                    <img class="imagefotter" src="https://ticker.finology.in/images/footer-logo.png">
                </figure>
                <p class="f-per">We strive to educate and collaborate with like-minded businesses to make a difference
                    environmentally and socially. Together we can make an impact.
                </p>
            </div>

            <!--Second column-->
            <div class="col-md-3 mx-auto ml-7 t-b-line">
                <h5 class="title mb-4 mt-3 font-bold">XYZ.com Pages </h5>
                <ul style="list-style-type: none;">
                    <li><a routerLink="/about">About Us</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 mx-auto ml-6 t-b-line">
                <h5 class="title mb-4 mt-3 font-bold">Info</h5>
                <ul style="list-style-type: none;">
                    <li><a routerLink="/terms-conditions">Terms &amp; Conditions</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-3 mx-auto t-b-line">
                <h5 class="title mb-4 mt-3 font-bold ">Links</h5>
                <ul style="list-style-type: none;">
                    <li><a routerLink="/faq">FAQ</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>


        <div class="row">
            <div class="col-md-12 f-line">
                <div class="footer-copyright">
                    <div>
                        <a>XYZ Media Services Private Ltd [at] {{currentDateFooter | date:'yyyy'}} All rights reserved.
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>