<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="about-primary-text">About Us</h2>
        </div>
        <div class="col-sm-6">
            <h2 class="about-secondary-text">a digital marketing agency that's known for creating success stories.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 about-body-text">
            A perfect marketing partner for all your digital marketing, branding and advertising needs with a focus on helping small and medium-sized business increase sales and revenue.
        </div>
    </div>
</div>