<div class="container">
  <div class="row">
    <div class="col-sm-12 row">
      <p>Input box with mention functionality</p>
      <div class="col-sm-8 input-textarea">
        
        <div class="visible-div" (click)="focusOnInput()" contentEditable="true">
          <span *ngFor="let word of sentence">
            <ng-container *ngIf="word">
              <span *ngIf="!word.isMention" class="normal-word">{{ word.value }}&nbsp;</span>
              <span *ngIf="word.isMention" class="mentioned-word">{{ word.value }}&nbsp;</span>
            </ng-container>
          </span>
          <input
            type="text"
            [(ngModel)]="mentionText"
            [typeahead]="this.global.userDB"
            (keyup.enter)="mentionSelected()"
            typeaheadOptionField="username"
            #mentionTextSelector
            class="mention-area"/>

          <textarea
          name="actual-textarea"
          (keyup)="addToVisibleDiv($event)"
          [(ngModel)]="normalText"
          #normalTextSelector
          class="txtarea">
          </textarea>
         
        </div>
        
      </div>

    </div>
  </div>
</div>
